/*http://bootswatch.com/flatly/*/

h1{
    text-align: center;
    margin-bottom: 20px;
}

#form{
    text-align: center;
}

input[type=text]{
    width: 80%;
    height: 30px;
}

input[type=submit]{
    width: 15%;
    height: 30px;
}